@use "../custom/colors" as color;
@use "../custom/variables" as v;

@mixin nav_align ($display, $alignItems) {
    display: $display;
    align-items: $alignItems;
}

.menu_bar {
    position: sticky;
    top: 0px;
    background-color: color.$darkGrey;
    @include nav_align(flex, center);
}
.menu_title {
    padding-left: 1rem;
    font-size: 1.5rem;
    color: color.$white;
}
.nav_bar {
    ul {
        margin: 0;
        height: 60px;
        @include nav_align(flex, center);
        li {
            list-style-type: none;
            margin-left: 1rem;
            a {
                color: color.$lightGrey;
                text-decoration: none;
                &:hover {
                    color: color.$white;
                }
            }                 
        }
    }
}